{% extends "radiusadmin/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'radiusadmin/css/verify.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Verify Code{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="text-center" style="padding-top: 30px;">
            <img class="img-responsive" src="{% static 'radiusadmin/images/logo.svg' %}" alt="logo" style="width: 200px;">
        </div>
        <br />
        {% if message == 'error' %}
        <div class="row justify-content-center">
            <div class="alert alert-danger">
                <strong>You entered an incorrect code</strong>
            </div>
        </div>
        {% endif %}
        <br />
        <div class="row justify-content-center">
            <h3>Verify Code</h3>
        </div>
        <br />
        <div class="row justify-content-center">
            <form id="verify_form" action="{% url 'radiusadmin:verify' %}" method="post">
                <div class="form-group">
                    <label for="password" style="font-weight: bold;">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <small id="password" class="form-text text-muted" style="font-weight: bolder;">Enter the code you
                        have recieved on your
                        phone.</small>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-artcaffee">Submit</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">

        </div>
    </div>
</div>
<br />
<footer class="footer text-center" id="footer">
    <div class="container">
        <h6 style="font-weight: bolder; font-size: 14px;">&copy; Copyright 2018 Brandfi Kenya</h6>
    </div>
</footer>
{% endblock %}