{% extends "radiusadmin/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'radiusadmin/css/verify.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'radiusadmin/js/verify.js' %}"></script>
{% endblock %}

{% block title %}Verify Code{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-center">

        </div>
        <div class="row justify-content-center">
            <i class="fab fa-facebook-f fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-pinterest fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
        </div>
        <br />
        <div class="row justify-content-center">
            <h3>Verify Code</h3>
        </div>
        <br />
        <div class="row justify-content-center">
            <form id="verify_form" action="{% url 'radiusadmin:verify' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <small id="password" class="form-text text-muted">Enter the code you have recieved on your
                        phone.</small>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-artcaffee">Submit</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <a href="https://www.google.com">
                <img src="{% static 'radiusadmin/images/verify_ad.jpeg' %}" alt="verify_ad">
            </a>
        </div>
    </div>
</div>
{% endblock %}