{% extends "radiusadmin/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'radiusadmin/css/welcome.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'radiusadmin/js/welcome.js' %}"></script>
{% endblock %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <div class="row justify-content-center">
            <h3>You are now online</h3>
        </div>
        <br />
        <div class="row justify-content-center">
            <a href="{{ logout_url }}" class="btn btn-artcaffee" role="button">BROWSE</a>
        </div>
        <br />
        <div class="row justify-content-center">
            <a href="https://www.google.com">
                <img src="{% static 'radiusadmin/images/success_ad.jpeg' %}" alt="verify_ad">
            </a>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>
{% endblock %}