h6 {
    font: 300 20px/1.0 'Pacifico', Helvetica, sans-serif;
    color: #333;
    text-shadow: 1px 1px 1px rgb(51, 51, 51), 1px 1px 0px rgb(51, 51, 51);
}

p {
    font-size: 16px;
    font-weight: bolder;
}

table,
th,
td {
    border: 2px dotted black;
}